:root 
{
--bs-link-color: #555555;
--bs-nav-pills-link-active-bg:#af588e;
--bslib-page-sidebar-title-bg: #fff;
--bslib-page-sidebar-title-color: #000;
}

.nav-pills {
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #af588e;
    --bs-nav-pills-link-hover-color: #000;
    --bs-nav-pills-link-hover-decoration: underline;
}
.btn-primary, .btn-default {
    --bs-btn-color: #000;
    --bs-btn-border-color: #af588e;
    --bs-btn-bg: #fff;
    --bs-btn-hover-bg: #e1c1d6;
    --bs-btn-hover-color: #000;
}

.irs-to, .irs-from {

    background-color: #af588e;
}